In [3]:
import plotly.tools as tls
tls.embed('https://plot.ly/~chris/7365')

In [4]:
import pandas as pd
from sqlalchemy import create_engine # database connection
import datetime as dt
from IPython.display import display

import plotly.plotly as py # interactive graphing
from plotly.graph_objs import *
# from plotly.graph_objs import Bar, Scatter, Marker, Layout

In [10]:
display(pd.read_csv('311_Service_Requests_from_2010_to_Present.csv', nrows=2).head())
display(pd.read_csv('311_Service_Requests_from_2010_to_Present.csv', nrows=2).tail())

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,16068187,02/23/2010 12:00:00 AM,03/08/2010 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PAINT - PLASTER,CEILING,RESIDENTIAL BUILDING,10304,101 WATER STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.627055,-74.077213,"(40.627055398012274, -74.07721261402538)"
1,16068188,02/23/2010 12:00:00 AM,03/11/2010 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PAINT - PLASTER,CEILING,RESIDENTIAL BUILDING,10010,309 3 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.739133,-73.982917,"(40.73913261925362, -73.98291702868069)"

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,16068187,02/23/2010 12:00:00 AM,03/08/2010 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PAINT - PLASTER,CEILING,RESIDENTIAL BUILDING,10304,101 WATER STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.627055,-74.077213,"(40.627055398012274, -74.07721261402538)"
1,16068188,02/23/2010 12:00:00 AM,03/11/2010 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,PAINT - PLASTER,CEILING,RESIDENTIAL BUILDING,10010,309 3 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.739133,-73.982917,"(40.73913261925362, -73.98291702868069)"

In [13]:
!wc -l < 311_Service_Requests_from_2010_to_Present.csv # Number of lines in dataset

14644840

In [5]:
disk_engine = create_engine('sqlite:///311_8M.db') # Initializes database with filename

In [18]:
start = dt.datetime.now()
chunksize = 20000
j = 0
index_start = 1

for df in pd.read_csv('311_Service_Requests_from_2010_to_Present.csv', chunksize=chunksize, iterator=True, encoding='utf-8'):
    df = df.rename(columns={c: c.replace(' ', '') for c  in df.columns}) # Remove spaces from columns
    
    df['CreatedDate'] = pd.to_datetime(df['CreatedDate']) # Convert to datetimes
    df['ClosedDate'] = pd.to_datetime(df['ClosedDate'])
    
    df.index += index_start
    
    # Removing uninteresting columns
    columns = ['Agency', 'CreatedDate', 'ClosedDate', 'ComplaintType', 'Descriptor', 'CreatedDate', 'ClosedDate', 'TimeToCompletion', 'City']
    
    for c in df.columns:
        if c not in columns:
            df = df.drop(c, axis=1)
    
    j+=1
    print('{} seconds: completed {} rows'.format((dt.datetime.now() - start).seconds, j*chunksize))
          
    df.to_sql('data', disk_engine, if_exists='append')
    index_start = df.index[-1] + 1

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

8 seconds: completed 20000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41,43,44,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.

15 seconds: completed 40000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

23 seconds: completed 60000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

30 seconds: completed 80000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39) have mixed types. Specify dtype option on import or set low_memory=False.

38 seconds: completed 100000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.

45 seconds: completed 120000 rows
52 seconds: completed 140000 rows
60 seconds: completed 160000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,48) have mixed types. Specify dtype option on import or set low_memory=False.

67 seconds: completed 180000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.

74 seconds: completed 200000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.

82 seconds: completed 220000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

89 seconds: completed 240000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41,42,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

96 seconds: completed 260000 rows
104 seconds: completed 280000 rows
112 seconds: completed 300000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

120 seconds: completed 320000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

128 seconds: completed 340000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

136 seconds: completed 360000 rows
143 seconds: completed 380000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (47,48) have mixed types. Specify dtype option on import or set low_memory=False.

150 seconds: completed 400000 rows
158 seconds: completed 420000 rows
165 seconds: completed 440000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (48,49) have mixed types. Specify dtype option on import or set low_memory=False.

172 seconds: completed 460000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

179 seconds: completed 480000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,47) have mixed types. Specify dtype option on import or set low_memory=False.

187 seconds: completed 500000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,47) have mixed types. Specify dtype option on import or set low_memory=False.

194 seconds: completed 520000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

201 seconds: completed 540000 rows
208 seconds: completed 560000 rows
215 seconds: completed 580000 rows
223 seconds: completed 600000 rows
230 seconds: completed 620000 rows
237 seconds: completed 640000 rows
244 seconds: completed 660000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

251 seconds: completed 680000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39) have mixed types. Specify dtype option on import or set low_memory=False.

259 seconds: completed 700000 rows
266 seconds: completed 720000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,41) have mixed types. Specify dtype option on import or set low_memory=False.

273 seconds: completed 740000 rows
280 seconds: completed 760000 rows
287 seconds: completed 780000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,40,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

295 seconds: completed 800000 rows
302 seconds: completed 820000 rows
309 seconds: completed 840000 rows
316 seconds: completed 860000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,48) have mixed types. Specify dtype option on import or set low_memory=False.

324 seconds: completed 880000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

331 seconds: completed 900000 rows
338 seconds: completed 920000 rows
345 seconds: completed 940000 rows
353 seconds: completed 960000 rows
360 seconds: completed 980000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

367 seconds: completed 1000000 rows
374 seconds: completed 1020000 rows
381 seconds: completed 1040000 rows
388 seconds: completed 1060000 rows
396 seconds: completed 1080000 rows
403 seconds: completed 1100000 rows
410 seconds: completed 1120000 rows
417 seconds: completed 1140000 rows
426 seconds: completed 1160000 rows
436 seconds: completed 1180000 rows
444 seconds: completed 1200000 rows
452 seconds: completed 1220000 rows
462 seconds: completed 1240000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39) have mixed types. Specify dtype option on import or set low_memory=False.

474 seconds: completed 1260000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

482 seconds: completed 1280000 rows
490 seconds: completed 1300000 rows
499 seconds: completed 1320000 rows
507 seconds: completed 1340000 rows
515 seconds: completed 1360000 rows
523 seconds: completed 1380000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,40,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

531 seconds: completed 1400000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

539 seconds: completed 1420000 rows
548 seconds: completed 1440000 rows
557 seconds: completed 1460000 rows
565 seconds: completed 1480000 rows
573 seconds: completed 1500000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,48) have mixed types. Specify dtype option on import or set low_memory=False.

581 seconds: completed 1520000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,47) have mixed types. Specify dtype option on import or set low_memory=False.

590 seconds: completed 1540000 rows
598 seconds: completed 1560000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.

606 seconds: completed 1580000 rows
614 seconds: completed 1600000 rows
622 seconds: completed 1620000 rows
630 seconds: completed 1640000 rows
639 seconds: completed 1660000 rows
646 seconds: completed 1680000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

654 seconds: completed 1700000 rows
661 seconds: completed 1720000 rows
668 seconds: completed 1740000 rows
675 seconds: completed 1760000 rows
682 seconds: completed 1780000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,48) have mixed types. Specify dtype option on import or set low_memory=False.

688 seconds: completed 1800000 rows
694 seconds: completed 1820000 rows
701 seconds: completed 1840000 rows
708 seconds: completed 1860000 rows
715 seconds: completed 1880000 rows
721 seconds: completed 1900000 rows
728 seconds: completed 1920000 rows
734 seconds: completed 1940000 rows
741 seconds: completed 1960000 rows
748 seconds: completed 1980000 rows
755 seconds: completed 2000000 rows
761 seconds: completed 2020000 rows
768 seconds: completed 2040000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

775 seconds: completed 2060000 rows
782 seconds: completed 2080000 rows
788 seconds: completed 2100000 rows
796 seconds: completed 2120000 rows
802 seconds: completed 2140000 rows
809 seconds: completed 2160000 rows
816 seconds: completed 2180000 rows
823 seconds: completed 2200000 rows
830 seconds: completed 2220000 rows
836 seconds: completed 2240000 rows
843 seconds: completed 2260000 rows
850 seconds: completed 2280000 rows
858 seconds: completed 2300000 rows
865 seconds: completed 2320000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,40,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

872 seconds: completed 2340000 rows
880 seconds: completed 2360000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

887 seconds: completed 2380000 rows
894 seconds: completed 2400000 rows
902 seconds: completed 2420000 rows
909 seconds: completed 2440000 rows
916 seconds: completed 2460000 rows
923 seconds: completed 2480000 rows
931 seconds: completed 2500000 rows
938 seconds: completed 2520000 rows
945 seconds: completed 2540000 rows
952 seconds: completed 2560000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,47) have mixed types. Specify dtype option on import or set low_memory=False.

960 seconds: completed 2580000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,40,43,44,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.

967 seconds: completed 2600000 rows
974 seconds: completed 2620000 rows
981 seconds: completed 2640000 rows
988 seconds: completed 2660000 rows
998 seconds: completed 2680000 rows
1006 seconds: completed 2700000 rows
1014 seconds: completed 2720000 rows
1022 seconds: completed 2740000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

1030 seconds: completed 2760000 rows
1039 seconds: completed 2780000 rows
1047 seconds: completed 2800000 rows
1054 seconds: completed 2820000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,47) have mixed types. Specify dtype option on import or set low_memory=False.

1062 seconds: completed 2840000 rows
1070 seconds: completed 2860000 rows
1077 seconds: completed 2880000 rows
1085 seconds: completed 2900000 rows
1093 seconds: completed 2920000 rows
1101 seconds: completed 2940000 rows
1110 seconds: completed 2960000 rows
1118 seconds: completed 2980000 rows
1126 seconds: completed 3000000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,48) have mixed types. Specify dtype option on import or set low_memory=False.

1135 seconds: completed 3020000 rows
1144 seconds: completed 3040000 rows
1152 seconds: completed 3060000 rows
1160 seconds: completed 3080000 rows
1167 seconds: completed 3100000 rows
1175 seconds: completed 3120000 rows
1184 seconds: completed 3140000 rows
1191 seconds: completed 3160000 rows
1198 seconds: completed 3180000 rows
1206 seconds: completed 3200000 rows
1214 seconds: completed 3220000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

1221 seconds: completed 3240000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

1229 seconds: completed 3260000 rows
1236 seconds: completed 3280000 rows
1244 seconds: completed 3300000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

1251 seconds: completed 3320000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

1258 seconds: completed 3340000 rows
1266 seconds: completed 3360000 rows
1273 seconds: completed 3380000 rows
1280 seconds: completed 3400000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (43,44,45,46,48) have mixed types. Specify dtype option on import or set low_memory=False.

1288 seconds: completed 3420000 rows
1295 seconds: completed 3440000 rows
1302 seconds: completed 3460000 rows
1309 seconds: completed 3480000 rows
1317 seconds: completed 3500000 rows
1324 seconds: completed 3520000 rows
1332 seconds: completed 3540000 rows
1339 seconds: completed 3560000 rows
1346 seconds: completed 3580000 rows
1354 seconds: completed 3600000 rows
1361 seconds: completed 3620000 rows
1368 seconds: completed 3640000 rows
1375 seconds: completed 3660000 rows
1383 seconds: completed 3680000 rows
1390 seconds: completed 3700000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40) have mixed types. Specify dtype option on import or set low_memory=False.

1397 seconds: completed 3720000 rows
1405 seconds: completed 3740000 rows
1412 seconds: completed 3760000 rows
1419 seconds: completed 3780000 rows
1427 seconds: completed 3800000 rows
1435 seconds: completed 3820000 rows
1442 seconds: completed 3840000 rows
1449 seconds: completed 3860000 rows
1456 seconds: completed 3880000 rows
1463 seconds: completed 3900000 rows
1471 seconds: completed 3920000 rows
1479 seconds: completed 3940000 rows
1486 seconds: completed 3960000 rows
1493 seconds: completed 3980000 rows
1500 seconds: completed 4000000 rows
1508 seconds: completed 4020000 rows
1515 seconds: completed 4040000 rows
1522 seconds: completed 4060000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41) have mixed types. Specify dtype option on import or set low_memory=False.

1530 seconds: completed 4080000 rows
1537 seconds: completed 4100000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

1545 seconds: completed 4120000 rows
1553 seconds: completed 4140000 rows
1561 seconds: completed 4160000 rows
1568 seconds: completed 4180000 rows
1576 seconds: completed 4200000 rows
1583 seconds: completed 4220000 rows
1590 seconds: completed 4240000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,48) have mixed types. Specify dtype option on import or set low_memory=False.

1597 seconds: completed 4260000 rows
1604 seconds: completed 4280000 rows
1612 seconds: completed 4300000 rows
1619 seconds: completed 4320000 rows
1626 seconds: completed 4340000 rows
1633 seconds: completed 4360000 rows
1640 seconds: completed 4380000 rows
1648 seconds: completed 4400000 rows
1655 seconds: completed 4420000 rows
1662 seconds: completed 4440000 rows
1669 seconds: completed 4460000 rows
1676 seconds: completed 4480000 rows
1684 seconds: completed 4500000 rows
1691 seconds: completed 4520000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,47) have mixed types. Specify dtype option on import or set low_memory=False.

1698 seconds: completed 4540000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17) have mixed types. Specify dtype option on import or set low_memory=False.

1705 seconds: completed 4560000 rows
1713 seconds: completed 4580000 rows
1720 seconds: completed 4600000 rows
1727 seconds: completed 4620000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

1735 seconds: completed 4640000 rows
1742 seconds: completed 4660000 rows
1749 seconds: completed 4680000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

1756 seconds: completed 4700000 rows
1763 seconds: completed 4720000 rows
1771 seconds: completed 4740000 rows
1778 seconds: completed 4760000 rows
1785 seconds: completed 4780000 rows
1792 seconds: completed 4800000 rows
1800 seconds: completed 4820000 rows
1807 seconds: completed 4840000 rows
1814 seconds: completed 4860000 rows
1821 seconds: completed 4880000 rows
1829 seconds: completed 4900000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

1836 seconds: completed 4920000 rows
1843 seconds: completed 4940000 rows
1851 seconds: completed 4960000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

1858 seconds: completed 4980000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

1865 seconds: completed 5000000 rows
1872 seconds: completed 5020000 rows
1879 seconds: completed 5040000 rows
1887 seconds: completed 5060000 rows
1894 seconds: completed 5080000 rows
1901 seconds: completed 5100000 rows
1908 seconds: completed 5120000 rows
1916 seconds: completed 5140000 rows
1923 seconds: completed 5160000 rows
1930 seconds: completed 5180000 rows
1937 seconds: completed 5200000 rows
1945 seconds: completed 5220000 rows
1952 seconds: completed 5240000 rows
1959 seconds: completed 5260000 rows
1966 seconds: completed 5280000 rows
1973 seconds: completed 5300000 rows
1981 seconds: completed 5320000 rows
1988 seconds: completed 5340000 rows
1995 seconds: completed 5360000 rows
2002 seconds: completed 5380000 rows
2009 seconds: completed 5400000 rows
2017 seconds: completed 5420000 rows
2024 seconds: completed 5440000 rows
2031 seconds: completed 5460000 rows
2039 seconds: completed 5480000 rows
2046 seconds: completed 5500000 rows
2053 seconds: completed 5520000 rows
2060 seconds: completed 5540000 rows
2067 seconds: completed 5560000 rows
2076 seconds: completed 5580000 rows
2083 seconds: completed 5600000 rows
2091 seconds: completed 5620000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,48) have mixed types. Specify dtype option on import or set low_memory=False.

2099 seconds: completed 5640000 rows
2107 seconds: completed 5660000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

2115 seconds: completed 5680000 rows
2123 seconds: completed 5700000 rows
2131 seconds: completed 5720000 rows
2139 seconds: completed 5740000 rows
2147 seconds: completed 5760000 rows
2155 seconds: completed 5780000 rows
2164 seconds: completed 5800000 rows
2172 seconds: completed 5820000 rows
2179 seconds: completed 5840000 rows
2188 seconds: completed 5860000 rows
2195 seconds: completed 5880000 rows
2203 seconds: completed 5900000 rows
2211 seconds: completed 5920000 rows
2219 seconds: completed 5940000 rows
2226 seconds: completed 5960000 rows
2234 seconds: completed 5980000 rows
2242 seconds: completed 6000000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40) have mixed types. Specify dtype option on import or set low_memory=False.

2251 seconds: completed 6020000 rows
2259 seconds: completed 6040000 rows
2267 seconds: completed 6060000 rows
2275 seconds: completed 6080000 rows
2283 seconds: completed 6100000 rows
2292 seconds: completed 6120000 rows
2300 seconds: completed 6140000 rows
2308 seconds: completed 6160000 rows
2316 seconds: completed 6180000 rows
2325 seconds: completed 6200000 rows
2334 seconds: completed 6220000 rows
2342 seconds: completed 6240000 rows
2350 seconds: completed 6260000 rows
2359 seconds: completed 6280000 rows
2368 seconds: completed 6300000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

2376 seconds: completed 6320000 rows
2384 seconds: completed 6340000 rows
2392 seconds: completed 6360000 rows
2399 seconds: completed 6380000 rows
2408 seconds: completed 6400000 rows
2417 seconds: completed 6420000 rows
2426 seconds: completed 6440000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

2434 seconds: completed 6460000 rows
2441 seconds: completed 6480000 rows
2449 seconds: completed 6500000 rows
2456 seconds: completed 6520000 rows
2464 seconds: completed 6540000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

2471 seconds: completed 6560000 rows
2479 seconds: completed 6580000 rows
2486 seconds: completed 6600000 rows
2493 seconds: completed 6620000 rows
2501 seconds: completed 6640000 rows
2508 seconds: completed 6660000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

2516 seconds: completed 6680000 rows
2524 seconds: completed 6700000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

2531 seconds: completed 6720000 rows
2538 seconds: completed 6740000 rows
2546 seconds: completed 6760000 rows
2553 seconds: completed 6780000 rows
2560 seconds: completed 6800000 rows
2568 seconds: completed 6820000 rows
2576 seconds: completed 6840000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

2584 seconds: completed 6860000 rows
2592 seconds: completed 6880000 rows
2600 seconds: completed 6900000 rows
2608 seconds: completed 6920000 rows
2616 seconds: completed 6940000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

2624 seconds: completed 6960000 rows
2631 seconds: completed 6980000 rows
2639 seconds: completed 7000000 rows
2649 seconds: completed 7020000 rows
2657 seconds: completed 7040000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40) have mixed types. Specify dtype option on import or set low_memory=False.

2665 seconds: completed 7060000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

2672 seconds: completed 7080000 rows
2680 seconds: completed 7100000 rows
2689 seconds: completed 7120000 rows
2697 seconds: completed 7140000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

2705 seconds: completed 7160000 rows
2715 seconds: completed 7180000 rows
2724 seconds: completed 7200000 rows
2732 seconds: completed 7220000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,47) have mixed types. Specify dtype option on import or set low_memory=False.

2741 seconds: completed 7240000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.

2750 seconds: completed 7260000 rows
2758 seconds: completed 7280000 rows
2766 seconds: completed 7300000 rows
2775 seconds: completed 7320000 rows
2782 seconds: completed 7340000 rows
2790 seconds: completed 7360000 rows
2797 seconds: completed 7380000 rows
2805 seconds: completed 7400000 rows
2812 seconds: completed 7420000 rows
2820 seconds: completed 7440000 rows
2827 seconds: completed 7460000 rows
2834 seconds: completed 7480000 rows
2842 seconds: completed 7500000 rows
2849 seconds: completed 7520000 rows
2857 seconds: completed 7540000 rows
2864 seconds: completed 7560000 rows
2871 seconds: completed 7580000 rows
2879 seconds: completed 7600000 rows
2886 seconds: completed 7620000 rows
2893 seconds: completed 7640000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,47) have mixed types. Specify dtype option on import or set low_memory=False.

2901 seconds: completed 7660000 rows
2908 seconds: completed 7680000 rows
2915 seconds: completed 7700000 rows
2923 seconds: completed 7720000 rows
2930 seconds: completed 7740000 rows
2937 seconds: completed 7760000 rows
2944 seconds: completed 7780000 rows
2952 seconds: completed 7800000 rows
2959 seconds: completed 7820000 rows
2966 seconds: completed 7840000 rows
2973 seconds: completed 7860000 rows
2981 seconds: completed 7880000 rows
2988 seconds: completed 7900000 rows
2995 seconds: completed 7920000 rows
3002 seconds: completed 7940000 rows
3010 seconds: completed 7960000 rows
3018 seconds: completed 7980000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,48) have mixed types. Specify dtype option on import or set low_memory=False.

3025 seconds: completed 8000000 rows
3033 seconds: completed 8020000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,47) have mixed types. Specify dtype option on import or set low_memory=False.

3040 seconds: completed 8040000 rows
3048 seconds: completed 8060000 rows
3055 seconds: completed 8080000 rows
3062 seconds: completed 8100000 rows
3070 seconds: completed 8120000 rows
3077 seconds: completed 8140000 rows
3085 seconds: completed 8160000 rows
3092 seconds: completed 8180000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41,43,44,45,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

3099 seconds: completed 8200000 rows
3107 seconds: completed 8220000 rows
3115 seconds: completed 8240000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

3123 seconds: completed 8260000 rows
3130 seconds: completed 8280000 rows
3138 seconds: completed 8300000 rows
3146 seconds: completed 8320000 rows
3154 seconds: completed 8340000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

3162 seconds: completed 8360000 rows
3170 seconds: completed 8380000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,48) have mixed types. Specify dtype option on import or set low_memory=False.

3177 seconds: completed 8400000 rows
3186 seconds: completed 8420000 rows
3195 seconds: completed 8440000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

3202 seconds: completed 8460000 rows
3211 seconds: completed 8480000 rows
3220 seconds: completed 8500000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,41) have mixed types. Specify dtype option on import or set low_memory=False.

3228 seconds: completed 8520000 rows
3236 seconds: completed 8540000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

3243 seconds: completed 8560000 rows
3251 seconds: completed 8580000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

3258 seconds: completed 8600000 rows
3265 seconds: completed 8620000 rows
3273 seconds: completed 8640000 rows
3280 seconds: completed 8660000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

3288 seconds: completed 8680000 rows
3295 seconds: completed 8700000 rows
3302 seconds: completed 8720000 rows
3310 seconds: completed 8740000 rows
3317 seconds: completed 8760000 rows
3324 seconds: completed 8780000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

3332 seconds: completed 8800000 rows
3339 seconds: completed 8820000 rows
3346 seconds: completed 8840000 rows
3354 seconds: completed 8860000 rows
3361 seconds: completed 8880000 rows
3368 seconds: completed 8900000 rows
3375 seconds: completed 8920000 rows
3383 seconds: completed 8940000 rows
3390 seconds: completed 8960000 rows
3397 seconds: completed 8980000 rows
3405 seconds: completed 9000000 rows
3412 seconds: completed 9020000 rows
3419 seconds: completed 9040000 rows
3427 seconds: completed 9060000 rows
3435 seconds: completed 9080000 rows
3442 seconds: completed 9100000 rows
3450 seconds: completed 9120000 rows
3457 seconds: completed 9140000 rows
3465 seconds: completed 9160000 rows
3473 seconds: completed 9180000 rows
3481 seconds: completed 9200000 rows
3489 seconds: completed 9220000 rows
3497 seconds: completed 9240000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

3505 seconds: completed 9260000 rows
3513 seconds: completed 9280000 rows
3521 seconds: completed 9300000 rows
3529 seconds: completed 9320000 rows
3537 seconds: completed 9340000 rows
3546 seconds: completed 9360000 rows
3555 seconds: completed 9380000 rows
3563 seconds: completed 9400000 rows
3572 seconds: completed 9420000 rows
3580 seconds: completed 9440000 rows
3589 seconds: completed 9460000 rows
3598 seconds: completed 9480000 rows
3606 seconds: completed 9500000 rows
3614 seconds: completed 9520000 rows
3623 seconds: completed 9540000 rows
3632 seconds: completed 9560000 rows
3641 seconds: completed 9580000 rows
3649 seconds: completed 9600000 rows
3658 seconds: completed 9620000 rows
3667 seconds: completed 9640000 rows
3675 seconds: completed 9660000 rows
3685 seconds: completed 9680000 rows
3692 seconds: completed 9700000 rows
3699 seconds: completed 9720000 rows
3706 seconds: completed 9740000 rows
3714 seconds: completed 9760000 rows
3721 seconds: completed 9780000 rows
3729 seconds: completed 9800000 rows
3738 seconds: completed 9820000 rows
3748 seconds: completed 9840000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

3757 seconds: completed 9860000 rows
3764 seconds: completed 9880000 rows
3772 seconds: completed 9900000 rows
3780 seconds: completed 9920000 rows
3788 seconds: completed 9940000 rows
3796 seconds: completed 9960000 rows
3803 seconds: completed 9980000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,47) have mixed types. Specify dtype option on import or set low_memory=False.

3812 seconds: completed 10000000 rows
3820 seconds: completed 10020000 rows
3828 seconds: completed 10040000 rows
3836 seconds: completed 10060000 rows
3844 seconds: completed 10080000 rows
3853 seconds: completed 10100000 rows
3861 seconds: completed 10120000 rows
3869 seconds: completed 10140000 rows
3877 seconds: completed 10160000 rows
3885 seconds: completed 10180000 rows
3893 seconds: completed 10200000 rows
3901 seconds: completed 10220000 rows
3909 seconds: completed 10240000 rows
3916 seconds: completed 10260000 rows
3924 seconds: completed 10280000 rows
3933 seconds: completed 10300000 rows
3940 seconds: completed 10320000 rows
3948 seconds: completed 10340000 rows
3955 seconds: completed 10360000 rows
3963 seconds: completed 10380000 rows
3971 seconds: completed 10400000 rows
3979 seconds: completed 10420000 rows
3987 seconds: completed 10440000 rows
3994 seconds: completed 10460000 rows
4001 seconds: completed 10480000 rows
4009 seconds: completed 10500000 rows
4017 seconds: completed 10520000 rows
4025 seconds: completed 10540000 rows
4033 seconds: completed 10560000 rows
4041 seconds: completed 10580000 rows
4049 seconds: completed 10600000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,41,42,43,44,45,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

4057 seconds: completed 10620000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,41) have mixed types. Specify dtype option on import or set low_memory=False.

4065 seconds: completed 10640000 rows
4073 seconds: completed 10660000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41,49) have mixed types. Specify dtype option on import or set low_memory=False.

4080 seconds: completed 10680000 rows
4089 seconds: completed 10700000 rows
4097 seconds: completed 10720000 rows
4104 seconds: completed 10740000 rows
4111 seconds: completed 10760000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.

4120 seconds: completed 10780000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.

4128 seconds: completed 10800000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,42) have mixed types. Specify dtype option on import or set low_memory=False.

4136 seconds: completed 10820000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (43,44,45,48) have mixed types. Specify dtype option on import or set low_memory=False.

4144 seconds: completed 10840000 rows
4151 seconds: completed 10860000 rows
4158 seconds: completed 10880000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,47,49) have mixed types. Specify dtype option on import or set low_memory=False.

4165 seconds: completed 10900000 rows
4175 seconds: completed 10920000 rows
4184 seconds: completed 10940000 rows
4192 seconds: completed 10960000 rows
4200 seconds: completed 10980000 rows
4207 seconds: completed 11000000 rows
4215 seconds: completed 11020000 rows
4222 seconds: completed 11040000 rows
4230 seconds: completed 11060000 rows
4237 seconds: completed 11080000 rows
4244 seconds: completed 11100000 rows
4253 seconds: completed 11120000 rows
4261 seconds: completed 11140000 rows
4269 seconds: completed 11160000 rows
4277 seconds: completed 11180000 rows
4286 seconds: completed 11200000 rows
4293 seconds: completed 11220000 rows
4302 seconds: completed 11240000 rows
4310 seconds: completed 11260000 rows
4318 seconds: completed 11280000 rows
4326 seconds: completed 11300000 rows
4335 seconds: completed 11320000 rows
4343 seconds: completed 11340000 rows
4351 seconds: completed 11360000 rows
4359 seconds: completed 11380000 rows
4367 seconds: completed 11400000 rows
4375 seconds: completed 11420000 rows
4383 seconds: completed 11440000 rows
4391 seconds: completed 11460000 rows
4400 seconds: completed 11480000 rows
4408 seconds: completed 11500000 rows
4415 seconds: completed 11520000 rows
4423 seconds: completed 11540000 rows
4431 seconds: completed 11560000 rows
4438 seconds: completed 11580000 rows
4445 seconds: completed 11600000 rows
4453 seconds: completed 11620000 rows
4460 seconds: completed 11640000 rows
4468 seconds: completed 11660000 rows
4475 seconds: completed 11680000 rows
4483 seconds: completed 11700000 rows
4491 seconds: completed 11720000 rows
4500 seconds: completed 11740000 rows
4509 seconds: completed 11760000 rows
4518 seconds: completed 11780000 rows
4525 seconds: completed 11800000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

4534 seconds: completed 11820000 rows
4541 seconds: completed 11840000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

4548 seconds: completed 11860000 rows
4555 seconds: completed 11880000 rows
4563 seconds: completed 11900000 rows
4570 seconds: completed 11920000 rows
4577 seconds: completed 11940000 rows
4585 seconds: completed 11960000 rows
4592 seconds: completed 11980000 rows
4600 seconds: completed 12000000 rows
4607 seconds: completed 12020000 rows
4614 seconds: completed 12040000 rows
4621 seconds: completed 12060000 rows
4629 seconds: completed 12080000 rows
4636 seconds: completed 12100000 rows
4643 seconds: completed 12120000 rows
4650 seconds: completed 12140000 rows
4658 seconds: completed 12160000 rows
4665 seconds: completed 12180000 rows
4672 seconds: completed 12200000 rows
4679 seconds: completed 12220000 rows
4687 seconds: completed 12240000 rows
4694 seconds: completed 12260000 rows
4701 seconds: completed 12280000 rows
4708 seconds: completed 12300000 rows
4715 seconds: completed 12320000 rows
4723 seconds: completed 12340000 rows
4730 seconds: completed 12360000 rows
4737 seconds: completed 12380000 rows
4744 seconds: completed 12400000 rows
4752 seconds: completed 12420000 rows
4759 seconds: completed 12440000 rows
4766 seconds: completed 12460000 rows
4773 seconds: completed 12480000 rows
4780 seconds: completed 12500000 rows
4787 seconds: completed 12520000 rows
4795 seconds: completed 12540000 rows
4802 seconds: completed 12560000 rows
4809 seconds: completed 12580000 rows
4816 seconds: completed 12600000 rows
4824 seconds: completed 12620000 rows
4831 seconds: completed 12640000 rows
4838 seconds: completed 12660000 rows
4845 seconds: completed 12680000 rows
4853 seconds: completed 12700000 rows
4860 seconds: completed 12720000 rows
4867 seconds: completed 12740000 rows
4874 seconds: completed 12760000 rows
4882 seconds: completed 12780000 rows
4889 seconds: completed 12800000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

4896 seconds: completed 12820000 rows
4903 seconds: completed 12840000 rows
4910 seconds: completed 12860000 rows
4917 seconds: completed 12880000 rows
4925 seconds: completed 12900000 rows
4932 seconds: completed 12920000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,43,44,45,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

4941 seconds: completed 12940000 rows
4949 seconds: completed 12960000 rows
4956 seconds: completed 12980000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,43,44,45,48) have mixed types. Specify dtype option on import or set low_memory=False.

4964 seconds: completed 13000000 rows
4972 seconds: completed 13020000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

4980 seconds: completed 13040000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,40,47) have mixed types. Specify dtype option on import or set low_memory=False.

4987 seconds: completed 13060000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,43,44,45,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

4995 seconds: completed 13080000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,40,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

5003 seconds: completed 13100000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,41,42,43,44,45,46,48) have mixed types. Specify dtype option on import or set low_memory=False.

5010 seconds: completed 13120000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.

5019 seconds: completed 13140000 rows
5027 seconds: completed 13160000 rows
5035 seconds: completed 13180000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

5043 seconds: completed 13200000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41,42,43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5050 seconds: completed 13220000 rows
5058 seconds: completed 13240000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,41,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5066 seconds: completed 13260000 rows
5073 seconds: completed 13280000 rows
5081 seconds: completed 13300000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41,42,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5089 seconds: completed 13320000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5096 seconds: completed 13340000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,48) have mixed types. Specify dtype option on import or set low_memory=False.

5104 seconds: completed 13360000 rows
5112 seconds: completed 13380000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5119 seconds: completed 13400000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.

5126 seconds: completed 13420000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,42,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5134 seconds: completed 13440000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,48) have mixed types. Specify dtype option on import or set low_memory=False.

5141 seconds: completed 13460000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,42,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

5148 seconds: completed 13480000 rows
5156 seconds: completed 13500000 rows
5163 seconds: completed 13520000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

5171 seconds: completed 13540000 rows
5179 seconds: completed 13560000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,41,42,43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5186 seconds: completed 13580000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,42,46) have mixed types. Specify dtype option on import or set low_memory=False.

5193 seconds: completed 13600000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5201 seconds: completed 13620000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (43,44,45,46,49) have mixed types. Specify dtype option on import or set low_memory=False.

5208 seconds: completed 13640000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (46) have mixed types. Specify dtype option on import or set low_memory=False.

5216 seconds: completed 13660000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.

5223 seconds: completed 13680000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,45,46,49) have mixed types. Specify dtype option on import or set low_memory=False.

5230 seconds: completed 13700000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,45,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5238 seconds: completed 13720000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (46,49) have mixed types. Specify dtype option on import or set low_memory=False.

5245 seconds: completed 13740000 rows
5252 seconds: completed 13760000 rows
5260 seconds: completed 13780000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,46) have mixed types. Specify dtype option on import or set low_memory=False.

5267 seconds: completed 13800000 rows
5275 seconds: completed 13820000 rows
5282 seconds: completed 13840000 rows
5289 seconds: completed 13860000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,42,43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5297 seconds: completed 13880000 rows
5304 seconds: completed 13900000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

5311 seconds: completed 13920000 rows
5320 seconds: completed 13940000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5328 seconds: completed 13960000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,41,42,43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5335 seconds: completed 13980000 rows
5342 seconds: completed 14000000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.

5350 seconds: completed 14020000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,49) have mixed types. Specify dtype option on import or set low_memory=False.

5357 seconds: completed 14040000 rows
5364 seconds: completed 14060000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41,43,44,45,48) have mixed types. Specify dtype option on import or set low_memory=False.

5372 seconds: completed 14080000 rows
5380 seconds: completed 14100000 rows
5389 seconds: completed 14120000 rows
5396 seconds: completed 14140000 rows
5405 seconds: completed 14160000 rows
5412 seconds: completed 14180000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,40,48) have mixed types. Specify dtype option on import or set low_memory=False.

5420 seconds: completed 14200000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,40) have mixed types. Specify dtype option on import or set low_memory=False.

5428 seconds: completed 14220000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.

5435 seconds: completed 14240000 rows
5443 seconds: completed 14260000 rows
5450 seconds: completed 14280000 rows
5458 seconds: completed 14300000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.

5465 seconds: completed 14320000 rows
5473 seconds: completed 14340000 rows
5480 seconds: completed 14360000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

5488 seconds: completed 14380000 rows
5495 seconds: completed 14400000 rows
5502 seconds: completed 14420000 rows
5510 seconds: completed 14440000 rows
5518 seconds: completed 14460000 rows
5525 seconds: completed 14480000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

5533 seconds: completed 14500000 rows
5540 seconds: completed 14520000 rows
5548 seconds: completed 14540000 rows
5555 seconds: completed 14560000 rows
5563 seconds: completed 14580000 rows
5571 seconds: completed 14600000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

5579 seconds: completed 14620000 rows

/home/char/.virtualenvs/data-science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,40,41,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

5587 seconds: completed 14640000 rows
5589 seconds: completed 14660000 rows

In [19]:
df = pd.read_sql_query('SELECT * FROM data LIMIT 3', disk_engine)
df.head()

,index,CreatedDate,ClosedDate,Agency,ComplaintType,Descriptor,City
0,1,2010-02-23 00:00:00.000000,2010-03-08 00:00:00.000000,HPD,PAINT - PLASTER,CEILING,STATEN ISLAND
1,2,2010-02-23 00:00:00.000000,2010-03-11 00:00:00.000000,HPD,PAINT - PLASTER,CEILING,NEW YORK
2,3,2010-02-23 00:00:00.000000,2010-03-15 00:00:00.000000,HPD,PAINT - PLASTER,CEILING,BROOKLYN

In [22]:
df = pd.read_sql_query('SELECT * FROM data LIMIT 3', disk_engine)
df.head()

,index,CreatedDate,ClosedDate,Agency,ComplaintType,Descriptor,City
0,1,2010-02-23 00:00:00.000000,2010-03-08 00:00:00.000000,HPD,PAINT - PLASTER,CEILING,STATEN ISLAND
1,2,2010-02-23 00:00:00.000000,2010-03-11 00:00:00.000000,HPD,PAINT - PLASTER,CEILING,NEW YORK
2,3,2010-02-23 00:00:00.000000,2010-03-15 00:00:00.000000,HPD,PAINT - PLASTER,CEILING,BROOKLYN

In [23]:
df = pd.read_sql_query('SELECT ComplaintType, Descriptor, Agency '
                       'FROM data '
                       'LIMIT 10 ', disk_engine)
df

      ComplaintType            Descriptor Agency
0   PAINT - PLASTER               CEILING    HPD
1   PAINT - PLASTER               CEILING    HPD
2   PAINT - PLASTER               CEILING    HPD
3   PAINT - PLASTER               CEILING    HPD
4   PAINT - PLASTER               CEILING    HPD
5  Street Condition  Failed Street Repair    DOT
6           HEATING                  HEAT    HPD
7           HEATING                  HEAT    HPD
8           HEATING                  HEAT    HPD
9           HEATING                  HEAT    HPD

In [24]:
df = pd.read_sql_query('SELECT ComplaintType, Descriptor, Agency '
                       'FROM data '
                       'WHERE Agency = "NYPD" '
                       'LIMIT 10', disk_engine)
df.head()

             ComplaintType                    Descriptor Agency
0  Traffic/Illegal Parking  Commercial Overnight Parking   NYPD
1  Traffic/Illegal Parking  Commercial Overnight Parking   NYPD
2      Noise - Residential              Banging/Pounding   NYPD
3         Blocked Driveway                     No Access   NYPD
4      Noise - Residential              Banging/Pounding   NYPD

In [10]:
df = pd.read_sql_query('SELECT ComplaintType, Descriptor, Agency '
                       'FROM data '
                       'WHERE Agency IN ("NYPD", "DOB") '
                       'LIMIT 10 ', disk_engine)
df.head()

,ComplaintType,Descriptor,Agency
0,General Construction/Plumbing,Fence - None/Inadequate,DOB
1,Building/Use,Illegal Conversion Of Residential Building/Space,DOB
2,General Construction/Plumbing,Debris - Falling Or In Danger Of Falling,DOB
3,Building/Use,Illegal Conversion Of Residential Building/Space,DOB
4,Plumbing,Failure To Retain Water/Improper Drainage- (LL...,DOB

In [30]:
df = pd.read_sql_query('SELECT DISTINCT City FROM data', disk_engine)
df.head()

            City
0  STATEN ISLAND
1       NEW YORK
2       BROOKLYN
3        ASTORIA
4     OZONE PARK

In [31]:
df = pd.read_sql_query('SELECT Agency, COUNT(*) as `num_complaints`'
                       'FROM data '
                       'GROUP BY Agency ', disk_engine)
df.head()

  Agency  num_complaints
0  3-1-1           48544
1    ACS             612
2    AJC              20
3    CAU              20
4   CCRB              26

In [7]:
df = pd.read_sql_query('SELECT Agency, COUNT(*) as `num_complaints`'
                       'FROM data '
                       'GROUP BY Agency '
                       'ORDER BY -num_complaints', disk_engine)

py.iplot([Bar(x=df.Agency, y=df.num_complaints)], filename='most common complaints by agency')

In [10]:
df = pd.read_sql_query('SELECT ComplaintType, COUNT(*) as `num_complaints`, Agency '
                       'FROM data '
                       'GROUP BY `ComplaintType` '
                       'ORDER BY -num_complaints', disk_engine)


most_common_complaints = df # used later
py.iplot({
    'data': [Bar(x=df['ComplaintType'], y=df.num_complaints)],
    'layout': { 
        'margin': {'b': 150}, # Make the bottom margin a bit bigger to handle the long text
        'xaxis': {'tickangle': 40}} # Angle the labels a bit
    }, filename='most common complaints by complaint type')

In [12]:
len(pd.read_sql_query('SELECT DISTINCT City FROM data', disk_engine))

2241

In [19]:
df = pd.read_sql_query('SELECT City, COUNT(*) as `num_complaints` '
                       'FROM data '
                       'GROUP BY `City` '
                       'ORDER BY -num_complaints '
                       'LIMIT 10 ', disk_engine)
df

            City  num_complaints
0       BROOKLYN         8628272
1       NEW YORK         5650168
2          BRONX         5277382
3           None         2078072
4  STATEN ISLAND         1382424
5        JAMAICA          425162
6       FLUSHING          335688
7        ASTORIA          277058
8        Jamaica          263686
9      RIDGEWOOD          204258

In [24]:
df = pd.read_sql_query('SELECT City, COUNT(*) as `num_complaints` '
                       'FROM data '
                       'GROUP BY `City` '
                       'COLLATE NOCASE '
                       'ORDER BY -num_complaints '
                       'LIMIT 11 ', disk_engine)
df

             City  num_complaints
0        BROOKLYN         8628272
1        NEW YORK         5650172
2           BRONX         5277382
3            None         2078072
4   STATEN ISLAND         1382424
5         JAMAICA          688848
6        FLUSHING          518704
7         ASTORIA          431654
8       RIDGEWOOD          312586
9          CORONA          225752
10       WOODSIDE          216202

In [23]:
cities = list(df.City)
cities.remove(None)

In [26]:
traces = [] # the series in the graph - one trace for each city

for city in cities:
    df = pd.read_sql_query('SELECT ComplaintType, COUNT(*) as `num_complaints` '
                           'FROM data '
                           'WHERE City = "{}" COLLATE NOCASE '
                           'GROUP BY `ComplaintType` '
                           'ORDER BY -num_complaints'.format(city), disk_engine)

    traces.append(Bar(x=df['ComplaintType'], y=df.num_complaints, name=city.capitalize()))

In [28]:
py.iplot({'data': traces, 'layout': Layout(barmode='stack', xaxis={'tickangle': 40}, margin={'b': 150})}, filename='complaints by city stacked')

In [30]:
for trace in traces:
    trace['y'] = 100.*trace['y']/sum(trace['y'])

In [32]:
py.iplot({'data': traces, 
          'layout': Layout(
                barmode='group',
                xaxis={'tickangle': 40, 'autorange': False, 'range': [-0.5, 16]},
                yaxis={'title': 'Percent of Complaints by City'},
                margin={'b': 150},
                title='Relative Number of 311 Complaints by City')
         }, filename='relative complaints by city', validate=False)

In [33]:
df = pd.read_sql_query('SELECT ComplaintType, CreatedDate, City '
                       'FROM data '
                       'WHERE CreatedDate < "2014-11-16 23:47:00" '
                       'AND CreatedDate > "2014-11-16 23:45:00"', disk_engine)

df

               ComplaintType                 CreatedDate       City
0          Derelict Vehicles  2014-11-16 23:46:00.000000    Jamaica
1         Noise - Commercial  2014-11-16 23:46:08.000000    ASTORIA
2    Noise - Street/Sidewalk  2014-11-16 23:45:10.000000   NEW YORK
3           Blocked Driveway  2014-11-16 23:45:43.000000   BROOKLYN
4           Derelict Vehicle  2014-11-16 23:46:57.000000  RIDGEWOOD
5         School Maintenance  2014-11-16 23:45:41.000000      BRONX
6   Benefit Card Replacement  2014-11-16 23:45:55.000000       None
7          Derelict Vehicles  2014-11-16 23:46:00.000000    Jamaica
8         Noise - Commercial  2014-11-16 23:46:08.000000    ASTORIA
9    Noise - Street/Sidewalk  2014-11-16 23:45:10.000000   NEW YORK
10          Blocked Driveway  2014-11-16 23:45:43.000000   BROOKLYN
11          Derelict Vehicle  2014-11-16 23:46:57.000000  RIDGEWOOD
12        School Maintenance  2014-11-16 23:45:41.000000      BRONX
13  Benefit Card Replacement  2014-11-16 23:45:55.000000       None

In [34]:
df = pd.read_sql_query('SELECT CreatedDate, '
                       'strftime(\'%H\', CreatedDate) as hour, '
                       'ComplaintType '
                       'FROM data '
                       'LIMIT 5 ', disk_engine)

df.head()

                  CreatedDate hour    ComplaintType
0  2010-02-23 00:00:00.000000   00  PAINT - PLASTER
1  2010-02-23 00:00:00.000000   00  PAINT - PLASTER
2  2010-02-23 00:00:00.000000   00  PAINT - PLASTER
3  2010-02-23 00:00:00.000000   00  PAINT - PLASTER
4  2010-02-23 00:00:00.000000   00  PAINT - PLASTER

In [35]:
df = pd.read_sql_query('SELECT CreatedDate, '
                               'strftime(\'%H\', CreatedDate) as hour,  '
                               'count(*) as `Complaints per Hour`'
                       'FROM data '
                       'GROUP BY hour', disk_engine)

df.head()

                  CreatedDate hour  Complaints per Hour
0  2010-02-23 00:00:00.000000   00              7728008
1  2010-02-24 01:38:41.000000   01               469830
2  2010-02-23 02:54:36.000000   02               324768
3  2010-02-23 03:13:00.000000   03               208944
4  2010-02-23 04:35:23.000000   04               172504

In [36]:
py.iplot({
    'data': [Bar(x=df['hour'], y=df['Complaints per Hour'])],
    'layout': Layout(xaxis={'title': 'Hour in Day'},
                     yaxis={'title': 'Number of Complaints'})}, filename='complaints per hour')

In [38]:
df = pd.read_sql_query('SELECT CreatedDate, '
                               'strftime(\'%H\', CreatedDate) as `hour`,  '
                               'count(*) as `Complaints per Hour`'
                       'FROM data '
                       'WHERE ComplaintType IN ("Noise", '
                                               '"Noise - Street/Sidewalk", '
                                               '"Noise - Commercial", '
                                               '"Noise - Vehicle", '
                                               '"Noise - Park", '
                                               '"Noise - House of Worship", '
                                               '"Noise - Helicopter", '
                                               '"Collection Truck Noise") '
                       'GROUP BY hour', disk_engine)

display(df.head(n=2))

py.iplot({
    'data': [Bar(x=df['hour'], y=df['Complaints per Hour'])],
    'layout': Layout(xaxis={'title': 'Hour in Day'},
                     yaxis={'title': 'Number of Complaints'},
                     title='Number of Noise Complaints in NYC by Hour in Day'
                    )}, filename='noise complaints per hour')

                  CreatedDate hour  Complaints per Hour
0  2010-02-24 00:47:10.000000   00               159146
1  2010-02-24 01:23:07.000000   01               125610

In [39]:
minutes = 15
seconds = 15*60

df = pd.read_sql_query('SELECT CreatedDate, '
                               'datetime(('
                                   'strftime(\'%s\', CreatedDate) / {seconds}) * {seconds}, \'unixepoch\') interval '
                       'FROM data '
                       'LIMIT 10 '.format(seconds=seconds), disk_engine)

display(df.head())

                  CreatedDate             interval
0  2010-02-23 00:00:00.000000  2010-02-23 00:00:00
1  2010-02-23 00:00:00.000000  2010-02-23 00:00:00
2  2010-02-23 00:00:00.000000  2010-02-23 00:00:00
3  2010-02-23 00:00:00.000000  2010-02-23 00:00:00
4  2010-02-23 00:00:00.000000  2010-02-23 00:00:00

In [40]:
minutes = 15
seconds = minutes*60

df = pd.read_sql_query('SELECT datetime(('
                                   'strftime(\'%s\', CreatedDate) / {seconds}) * {seconds}, \'unixepoch\') interval ,'
                               'COUNT(*) as "Complaints / interval"'
                       'FROM data '
                       'GROUP BY interval '
                       'ORDER BY interval '
                       'LIMIT 500'.format(seconds=seconds), disk_engine)

display(df.head())
display(df.tail())

              interval  Complaints / interval
0  2010-01-01 00:00:00                   2568
1  2010-01-01 00:15:00                     30
2  2010-01-01 00:30:00                     28
3  2010-01-01 00:45:00                     50
4  2010-01-01 01:00:00                     62

                interval  Complaints / interval
495  2010-01-06 04:15:00                      4
496  2010-01-06 04:45:00                     12
497  2010-01-06 05:00:00                     10
498  2010-01-06 05:15:00                     18
499  2010-01-06 05:30:00                     18

In [41]:
py.iplot(
    {
        'data': [{
            'x': df.interval,
            'y': df['Complaints / interval'],
            'type': 'bar'
        }],
        'layout': {
            'title': 'Number of 311 Complaints per 15 Minutes'
        }
}, filename='complaints per 15 minutes')

In [42]:
hours = 24
minutes = hours*60
seconds = minutes*60

df = pd.read_sql_query('SELECT datetime(('
                                    'strftime(\'%s\', CreatedDate) / {seconds}) * {seconds}, \'unixepoch\') interval ,'
                                'COUNT(*) as "Complaints / interval"'
                       'FROM data '
                       'GROUP BY interval '
                       'ORDER BY interval '
                       'LIMIT 500 '.format(seconds=seconds), disk_engine)

display(df.head())
display(df.tail())

              interval  Complaints / interval
0  2010-01-01 00:00:00                   5812
1  2010-01-02 00:00:00                   7714
2  2010-01-03 00:00:00                  11218
3  2010-01-04 00:00:00                  18630
4  2010-01-05 00:00:00                  16598

                interval  Complaints / interval
495  2011-05-11 00:00:00                  11900
496  2011-05-12 00:00:00                  11104
497  2011-05-13 00:00:00                  10396
498  2011-05-14 00:00:00                   5862
499  2011-05-15 00:00:00                   4814

In [43]:
py.iplot(
    {
        'data': [{
            'x': df.interval,
            'y': df['Complaints / interval'],
            'type': 'bar'
        }],
        'layout': {
            'title': 'Number of 311 complaints per day'
        }
}, filename='complaints per day')